.box {
  height: 100px;
  background-color: #626262;
  margin-bottom: 10px;
}
.m-r {
  height: 250px;
  margin-bottom: 20px;
}
.m-r-2 {
  height: 250px;
  margin-bottom: 20px;
}
.mr-3 {
  height: 250px;
  margin-bottom: 20px;
}
